<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="css/loginpage.css">
</head>
<body ng-app="contactApplication">
    <div class="container" ng-controller="authController">
        <div class="box-1"> 
            <div class="content-holder">
                <!-- <h2>Hello!</h2> -->
                <button class="button-1" ng-click="showSignUp()">Sign up</button>
                <button class="button-2"  ng-click="showSignIn()">Login</button>
            </div>
        </div>

        <div class="box-2">
            <div class="login-form-container" ng-show="showLoginForm">
                <h1>Login Form</h1>
                <input type="text" placeholder="Enter Your Email" class="input-field" ng-model="loginEmail">
                <br><br>
                <input type="password" placeholder="Password" class="input-field" ng-model="loginPassword">
                <br><br>
                <button class="login-button" type="button" ng-click="login()">Login</button>
            </div>

            
            
            <div class="signup-form-container" ng-show="showSignUpForm">
                <h1>Sign Up Form</h1>
                <input type="text" placeholder="Username" class="input-field" ng-model="signupUsername" required>
                <br><br>
                <input type="email" placeholder="Email" class="input-field" ng-model="signupEmail" required>
                <br><br>
                <input type="password" placeholder="Password" class="input-field" ng-model="signupPassword" required>
                <br><br>
                <button class="signup-button" type="button" ng-click="signup()">Sign Up</button>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script type="text/javascript" src="js/loginPage.js"></script>
    <script type="text/javascript" src="js/registration.js"></script>
    <script type="text/javascript" src="app.js"></script>
</body>
</html>
