<div>
  <div class="table-responsive">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-6">
            <h2><b>Manage Contact</b></h2>
          </div>
          <div class="col-sm-6 text-right">
            <div ng-controller="authController"></div>
            </button>
          </div>
        </div>
        <button class="btn btn-success" data-toggle="modal" data-target="#addEmployeeModal">
          <i class="material-icons">&#xE147;</i>
          <span>Add New Contact</span>
        </button>
        <button class="btn btn-primary" data-toggle="modal" data-target="#importExportModal">
          <i class="material-icons">&#xE147;</i>
          <span>Import/Export</span>
        </button>
        <div class="col-sm-auto">
          <button class="btn btn-outline-danger" ng-click="logout()" data-toggle="tooltip" data-placement="bottom"
            title="Logout">
            <i class="fa fa-sign-out"></i>
        </div>
      </div>
    </div>
    <div ng-show="contacts.length === 0" class="no-data-message">
      <h1>No contacts available. Please insert data.</h1>
    </div>
    <div class="">
      <div class="row">
        <div ng-repeat="contact in contacts track by contact.id">
          <contact-card contact="contact"></contact-card>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<div class="modal fade" id="contactPopup" tabindex="-1" role="dialog" aria-labelledby="contactPopupLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="contactPopupLabel">Contact Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Name: {{ selectedContact.name }}</p>
        <p>Email: {{ selectedContact.email }}</p>
        <p>Phone: {{ selectedContact.phone }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Add Modal HTML -->
<div id="addEmployeeModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <form name="addContactForm" ng-submit="addContact(addContactForm.$valid)" novalidate>
        <div class="modal-header">
          <h4 class="modal-title">Add Contact</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>Name</label>
            <input type="text" name="name" class="form-control" ng-model="newContact.name" ng-minlength="3"
              ng-maxlength="50" required />
            <div class="error-msg" ng-show="addContactForm.name.$dirty && addContactForm.name.$invalid">
              <span class="text-danger" ng-show="addContactForm.name.$error.required">Name is required.</span>
              <span class="text-danger" ng-show="addContactForm.name.$error.minlength">Minimum 3 characters
                required.</span>
              <span class="text-danger" ng-show="addContactForm.name.$error.maxlength">Maximum 50 characters
                allowed.</span>
            </div>
          </div>
          <div class="form-group">
            <label>Email</label>
            <input type="email" name="email" class="form-control" ng-model="newContact.email" required />
            <div class="error-msg" ng-show="addContactForm.email.$dirty && addContactForm.email.$invalid">
              <span class="text-danger" ng-show="addContactForm.email.$error.required">Email is required.</span>
              <span class="text-danger" ng-show="addContactForm.email.$error.email">Invalid email format.</span>
            </div>
          </div>
          <div class="form-group">
            <label>Phone</label>
            <input type="tel" name="phone" class="form-control" ng-model="newContact.phone" ng-pattern="/^\d{10}$/"
              required />
            <div class="error-msg" ng-show="addContactForm.phone.$dirty && addContactForm.phone.$invalid">
              <span class="text-danger" ng-show="addContactForm.phone.$error.required">Phone is required.</span>
              <span class="text-danger" ng-show="addContactForm.phone.$error.pattern">Invalid phone number format (10
                digits).</span>
            </div>
          </div>
          <div class="form-group">
            <label>Image</label>
            <input type="file" class="form-control-file" onchange="angular.element(this).scope().setFile(this)"
              accept="image/*" />
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Cancel
          </button>
          <button type="submit" class="btn btn-primary" ng-disabled="addContactForm.$invalid">
            Add
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Edit Modal HTML -->
<div id="editEmployeeModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <form autocomplete="off" ng-submit="validatedForm()" name="editContactForm" novalidate>
        <div class="modal-header">
          <h4 class="modal-title">Edit Contact</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            &times;
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>Name</label>
            <input type="text" id="employeeName" class="form-control" ng-model="selectedContact.name" ng-minlength="3"
              ng-maxlength="50" name="employeeName" required />
            <div class="error-msg">
              <span class="text-danger"
                ng-show="editContactForm.employeeName.$error.required && editContactForm.employeeName.$dirty">Name is
                required.</span>
              <span class="text-danger"
                ng-show="editContactForm.employeeName.$error.minlength && editContactForm.employeeName.$dirty">Minimum
                3 characters required.</span>
              <span class="text-danger"
                ng-show="editContactForm.employeeName.$error.maxlength && editContactForm.employeeName.$dirty">Maximum
                50 characters allowed.</span>
            </div>
          </div>
          <div class="form-group">
            <label>Email</label>
            <input type="email" id="employeeEmail" class="form-control" ng-model="selectedContact.email"
              name="employeeEmail" required />
            <div class="error-msg">
              <span class="text-danger"
                ng-show="editContactForm.employeeEmail.$error.required && editContactForm.employeeEmail.$dirty">Email
                is required.</span>
              <span class="text-danger"
                ng-show="editContactForm.employeeEmail.$error.email && editContactForm.employeeEmail.$dirty">Invalid
                email format.</span>
            </div>
          </div>
          <div class="form-group">
            <label>Phone</label>
            <input type="tel" id="employeePhone" class="form-control" ng-model="selectedContact.phone"
              ng-pattern="/^\d{10}$/" name="employeePhone" required />
            <div class="error-msg">
              <span class="text-danger"
                ng-show="editContactForm.employeePhone.$error.required && editContactForm.employeePhone.$dirty">Phone
                is required.</span>
              <span class="text-danger"
                ng-show="editContactForm.employeePhone.$error.pattern && editContactForm.employeePhone.$dirty">Invalid
                phone number format (10 digits).</span>
            </div>
          </div>
          <div class="form-group" ng-show="selectedContact.image">
            <label>Image</label>
            <img src="{{ selectedContact.image }}" alt="Selected Image" style="max-width: 100%; margin-bottom: 10px;" />
            <button type="button" class="btn btn-danger" ng-click="deleteImage()">
              Delete Image
            </button>
          </div>
          <div class="form-group">
            <label>Upload New Image</label>
            <input type="file" class="form-control-file" onchange="angular.element(this).scope().setFile(this)"
              accept="image/*" />
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            Cancel
          </button>
          <button type="submit" class="btn btn-info" ng-disabled="editContactForm.$invalid" ng-click="updateContact()">
            Save
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Delete Modal HTML -->
<div id="deleteEmployeeModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <h4 class="modal-title">Delete Employee</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            &times;
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete these Records?</p>
          <p class="text-warning">
            <small>This action cannot be undone.</small>
          </p>
        </div>
        <div class="modal-footer">
          <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel" />
          <input type="submit" class="btn btn-danger" value="Delete" ng-click="deleteContact(selectedContact)" />
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Import/Export Modal HTML -->
<div id="importExportModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Import/Export Data</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label>Import Data from Excel:</label>
          <input type="file" class="form-control-file" id="importFile" accept=".xls,.xlsx" />
        </div>
        <div class="form-group">
          <label>Export Data to Excel:</label>
          <button type="button" class="btn btn-primary" ng-click="exportData()">
            Export
          </button>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary" ng-click="importData(document.getElementById('importFile'))">
          Import
        </button>
      </div>
    </div>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>